{% extends 'productos/baseP.html' %} 
{% load static %} {% block styles %} 
{{ block.super }}
<link
  rel="stylesheet"
  href="{% static 'productos/css/homesoft.css' %}?v={{ timestamp }}"
/>
{% endblock %} 
{% block content %}

<section class="container-carousel">
  <div class="carousel">
    <img
      class="carousel-image"
      src="{% static 'productos/img/imgYoga.jpeg' %}"
    />
    <img class="carousel-image" src="{% static 'productos/img/tienda.png' %}" />
    <img
      class="carousel-image"
      src="{% static 'productos/img/canping.png' %}"
    />
    <img
      class="carousel-image"
      src="{% static 'productos/img/ingredientes.png' %}"
    />
    <img
      class="carousel-image"
      src="{% static 'productos/img/infografia.png' %}"
    />
  </div>
  <button class="carousel-button prev">⟨</button>
  <button class="carousel-button next">⟩</button>
</section>

<section class="container-infoNosotros">
  <h3 id="txt-big" style="text-align: center">Acerca de Nosotros</h3>
  <div class="container-nosotros">
    <p id="txt-nosotros">
      Somos una empresa colombiana ubicada en Ibagué, con más de 23 años
      ofreciendo productos naturales que mejoran la calidad de vida de nuestros
      clientes. Todos nuestros productos cuentan con registro INVIMA.
    </p>

    {% comment %} <div style="text-align: center; margin-top: 20px">
      <a href="{% url 'usuarios:nosotros' %}" class="btn-leer-mas">Leer más</a>
    </div> {% endcomment %}
  </div>

  <div class="container-bloquesTres">
    <div class="bloques">
      <div class="iconos-bloques">
        <svg width="80" height="70" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 2a10 10 0 1 0 10 10A10.011 10.011 0 0 0 12 2Zm0 18a8 8 0 1 1 8-8 8.009 8.009 0 0 1-8 8Zm1-13h-2v5l4.25 2.52 1-1.74L13 11.15Z"/>
        </svg>
      </div>
      <h3>Misión</h3>
      <p>
        Somos una empresa líder en la comercialización de productos naturales.
      </p>
      <a href="{% url 'usuarios:nosotros' %}#mision" class="btn-leer-mas"
        >Leer más</a
      >
    </div>

    <div class="bloques">
      <div class="iconos-bloques">
          <svg width="80" height="70" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 5c-4.97 0-9.16 3.06-11 7 1.84 3.94 6.03 7 11 7s9.16-3.06 11-7c-1.84-3.94-6.03-7-11-7zm0 12c-2.76 0-5-2.25-5-5s2.24-5 5-5 5 2.25 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.37-3 3s1.34 3 3 3 3-1.37 3-3-1.34-3-3-3z"/>
          </svg>
      </div>
      <h3>Visión</h3>
      <p>Buscamos impactar al mundo con tratamientos naturales.</p>
      <a href="{% url 'usuarios:nosotros' %}#vision" class="btn-leer-mas"
        >Leer más</a
      >
    </div>

    <div class="bloques">
      <div class="iconos-bloques">
          <svg width="80" height="70" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 5.35c1.2-1.48 3.4-1.68 4.92-.41 1.74 1.46 1.88 4.05.32 5.66l-4.6 4.73a.75.75 0 0 1-1.08 0l-4.6-4.73c-1.56-1.61-1.42-4.2.32-5.66 1.52-1.27 3.72-1.07 4.92.41zM5 15a2 2 0 0 0 2 2h1v1a2 2 0 1 0 4 0v-1h1a2 2 0 0 0 2-2v-1.09l-2.18 2.24a2.75 2.75 0 0 1-3.94 0L5 13.91V15z"/>
          </svg>
      </div>
      <h3>Valores</h3>
      <p>Responsabilidad, honestidad y compromiso.</p>
      <a href="{% url 'usuarios:nosotros' %}#valor" class="btn-leer-mas"
        >Leer más</a
      >
    </div>
  </div>
</section>

<div class="container-img-grande">
  <p id="txt-prodHome">Nuestros Productos</p>
  <p id="txt-subHome">
   Descubre nuestra amplia variedad de productos naturales, diseñados para mejorar tu bienestar y cuidar tu salud.
    Cada artículo cuenta con registro INVIMA y garantía de calidad. 
   Productos naturales y orgánicos para toda la familia. Calidad y bienestar garantizados.
  </p>
  <a
    id="btn-catalogo"
    href="{% url 'productos:producto' %}"
    class="btn-leer-mas"
    >Ver Catálogo</a
  >
  <img src="{% static 'productos/img/imgAbajo.jpeg' %}" />
</div>

<div class="container-prodHome">
  <h3 class="titulo" id="txt-prod-us">PRODUCTOS MÁS VENDIDOS</h3>
  <div class="productos-grid">
    {% for producto in mas_vendidos %}
    <div class="prod-card">
      <img
        class="img-newProduc"
        src="{{ producto.imgProduc.url }}"
        alt="{{ producto.nombProduc }}"
      />
      <p>{{ producto.nombProduc }}</p>
      <p>${{ producto.precio }}</p>
      <a href="{% url 'productos:detalle' pk=producto.id %}" class="btn-prod"
        >Leer más</a
      >
    </div>
    {% empty %}
    <p>No hay productos vendidos aún</p>
    {% endfor %}
  </div>
</div>

<div class="container-comentarios">
  <h3 id="txt-comentarios">Comentarios de Nuestros Clientes</h3>

  {% if comentarios %}
  <div class="lista-comentarios">
    {% for c in comentarios %}
    <div class="comentario-card">
      <p><strong>{{ c.usuario.username }}</strong></p>
      <p>{{ c.comentario }}</p>
      <p>Servicio: {{ c.puntuacion_servicio }}/5⭐</p>
      <small>{{ c.fecha_creacion|date:"Y-m-d" }}</small>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>Todavía no hay comentarios</p>
  {% endif %}
</div>
<button id="chatbot-toggle" class="chatbot-btn">💬</button>
<!-- Caja del chatbot -->
<div id="chatbot-box" class="chatbot-box">
  <div class="chatbot-header">
    <h3>
      <i class="fa-solid fa-seedling" style="margin-right: 5px"></i>Asesor
      Naturista
    </h3>
  </div>
  <div id="chat-messages" class="chat-messages"></div>
  <form id="chat-form" class="chat-form">
    {% csrf_token %}
    <input
      type="text"
      id="chat-input"
      placeholder="Pregunta sobre productos naturistas..."
      required
    />
    <button type="submit">Enviar</button>
  </form>
</div>

{% endblock %} {% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/4.3.0/marked.min.js"></script>
<script>
    const BOT_AVATAR_URL = "{% static 'productos/img/robot.png' %}";
</script>
<script src="{% static 'productos/js/home.js' %}"></script>
<script src="{% static 'productos/js/chatbot.js' %}"></script>
{% endblock %}